* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: helvetica, Arial;
  font-size: 18px;
}

h1,
h2,
h3 {
  color: green;
  font-family: Arial;
}

h1 {
  font-size: 40px;
  margin-bottom: 20px;
}
h2 {
  font-size: 30px;
  margin-bottom: 10px;
}

.main-text {
  content: justify;
  margin-bottom: 10px;
}

#auther-name {
  font-size: 25px;
  margin-bottom: 5px;
}
